button{
    width: 250px;
    height: 80px;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    color: #fff;
    border-radius: 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
}



.boton-click{
    background-color: #2e52f1;
}
.boton-click:hover{
    background-color: #4460d8;
}

.boton-reiniciar{
    background-color: #b31eab;
}
.boton-reiniciar:hover{
    background-color: #b21ae0;
}